/* @import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Cal+Sans&family=Moderustic:wght@300..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cal Sans";
  src: url("/Fonts/Cal Sans SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* @font-face {
  font-family: "Cal Sans";
  src: url("/fonts/CalSans-Regular.ttf") format("ttf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Cal Sans";
  src: url("/fonts/CalSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
} */

body {
  font-family: "Cal Sans", "Sh Ad Grotesk", "Inter", sans-serif;
  background-color: #fff;
  color: #000;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-grid {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.12) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.12) 1px, transparent 1px);
  background-size: 60px 60px;
}
